/* navbar */
.navbar{
    border: 1px solid #30363d;
}
.offcanvas {
    border: 1px solid #30363d;
}
/* navbar-toggler{
  border: 1px solid #30363d;
} */

/* .navbar-brand {
  color: #c9d1d9cc;
}
.offcanvas-title {
    color: #c9d1d9cc;
} */

/* search bar */
.pd {
  padding-top: 100px;
}

.form-control{
  color: white !important;
  background-color:  #0d1117 !important;
}
.form-control::content {
  color: white !important;
}

.focus-glow:focus {
  color:black;
  background-color:  #0d1117!important;
  border-color: rgb(0, 255, 255) !important;
  outline: none;
}

/* card */

h1{
  color:White;
}
/* p{
    color: #c9d1d9;
} */
.product-card{
  border: 1px solid #30363d;
  background-color: #161b22 ;
  border-radius: 8px;
  line-height: 1.5;
  margin:10px;
  padding: 10px;
  width: 250px;
  cursor: pointer;
}
.product-name , .product-brand , .product-category , .product-rating , .product-price{
  background-color:#161b22;
}
.footer {
  background-color: #161b22;
  color: white;
    border: 1px solid #30363d;

}

.footer .container,
.footer .row,
.footer .col-md-3,
.footer ul,
.footer li,
.footer .text-center ,.text-uppercase , .text-light ,.d {
  background-color: inherit;
  color: inherit;
}

.custom-border {
  border-color: #30363d;
}
/* 
.text-uppercase , .text-light ,.d {
  background-color: #161b22;
} */

.List{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}