.form-control{
  color: white !important;
  background-color: black !important;
}
.form-control::content{
  color: white;
}

.focus-glow:focus {
  color:black;
  background-color: black !important;
  border-color: rgb(0, 255, 255) !important;
  outline: none;
}
/* .navbar-brand {
  color: #c9d1d9cc;
}
.offcanvas-title {
    color: #c9d1d9cc;
} */


