.form-control{
  color: white !important;
  background-color: black !important;
}
.form-control::content{
  color: white;
}

.focus-glow:focus {
  color:black;
  background-color: black !important;
  border-color: rgb(0, 255, 255) !important;
  /* color: white !important; */
  /* box-shadow: 0 0 10px rgb(255, 255, 255); */
  outline: none;
}
/* .custom-search-bar {
  background-color: #000 !important;
  width: 400px;
  padding: 10px 20px;
  color: #000;
} */

/* .focus-glow:focus {
  background-color: black !important;
  outline: none;
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.8); 
  border-color: white;
} */
